
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

div.docPage {
  overflow: scroll;
  height: 95vh;
  background: #A677EE;
  padding: 0,0,0,0;
}

pre {
  background: #C0EE77;
}

div.container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}

div.col-sm-4 {
  padding-left: 30px;
}

div.col-sm-8 {
  padding-right: 50px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-size: 28px;
}

body {
  color: white;
  font-family: Garamond;
  font-size: 20px;
}

label {
  color: #333;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  color: #333;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
